<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voice Assistant</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles/index.css') }}">
</head>
<body>
    <div id="assistant-container" class="assistant-visuals-main-frame sleep">
        <div id="sleep_mode" class="assistant-frame">
            <span class="sleep_class"></span>
        </div>
        <div id="awake_mode" class="assistant-frame">
            <span class="awake_class"></span>
        </div>
        <!-- <div class="assistant-state">Mode: <span>Sleep</span></div> -->
    </div>
</body>
</html>
